



/* ********************Begin styles*************** */
body {
    background-color: #e4fbff;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    /* other colors
        #b8b5ff
        #7868e6
        #7868e6 */
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}


.top-container {
    /* height: 200px;
    width: 200px; */
    padding: 20px;
    display: inline-block;
    margin-top: 60px;    
    
}

.p-1 {
    margin-bottom: 80px;
}

.bottom-cloud {   
    position: absolute;
    top: 250PX;
}

.top-cloud {   
    position: relative;
    top: 0;
    left: 200px;
    /* left: 100px; */
    
}
.middle-container {
    padding: 20px;
    display: inline-block;
    margin-top: 60px;    
    /* height: 200px;
    width: 200px;
    border */
    
    
    
    /* float: center; */
}

.bottom-container {
    padding: 20px;
    display: inline-block;
    margin-top: 60px;    
    /* height: 200px;
    width: 200px;
     */
    
}